/* src/CreateProject.css */

.create-project {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-button:hover {
    text-decoration: underline;
}

.profile-icons {
    display: flex;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.settings-icons {
    display: flex;
    align-items: center;
}

.settings-icons i {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}

.content {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    color: #6a1b9a;
    font-size: 36px;
}

.content img {
    width: 400px;
    margin: 20px 0;
}

.content p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #666;
}
.imagemain{
    height: 200px !important;
}
.create-button {
    width: 330px;
    height: 60.92px;
    top: 831px;
    left: 675px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 26.28px;
    font-weight: 600;
    line-height: 54.23px;
    text-align: left;
    background: rgba(33, 25, 53, 1);
    color:#ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-bottom: 50px !important;
    




}
.titlemainheading{
    font-weight: bold;
}
.create-button:hover {
    background-color: #5a1382;
    cursor: pointer;
}

.plusbuttonn {
    height: 40px !important;
    width: 40px !important;
    background-color: transparent;

}
.modalview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px !important;
}
.error{
    color: red;
}
.cancelbutton{
    color: red;
    border: none;
    background-color: transparent;
    margin-right: 10px !important;
}
.inputfieldproject{
    width: 95% !important;
    height: 40px !important;
    padding-left: 10px !important;
    border-radius: 8px;
    


}
/* .projectcreationform{
    background-color: #ffffff;
} */

.link{
    text-decoration: none;
}