.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #6a1b9a;
}

.create-project-button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-project-button:hover {
  background-color: #4a0072;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
  width: 250px;
}

.project-initials {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent !important;

}

.project-details h2 {
  margin: 0;
  background-color: transparent !important;
}

.project-details p {
  margin: 5px 0;
  color: gray;
  background-color: transparent !important;
}

.purple .project-initials {
  background-color: #6a1b9a;
}

.orange .project-initials {
  background-color: #ffa000;
}

.blue .project-initials {
  background-color: #4a81e1;
}

.projectTitle {
  color: rgba(126, 34, 206, 1);

  font-weight: bold;
  margin-top: 20px !important;

}

.projectname {
  font-size: 15px;
  font-weight: bold;
  color: rgba(126, 34, 206, 1);
  background-color: transparent;
}

.episodes {
  font-size: 12px;
  font-weight: bold;
}

.lastedited {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.54px;
  text-align: left;


}
.projectlinkssidebar{
  text-decoration: none !important;
}
.project-initials.purple {
  background-color: purple;
}

.project-initials.orange {
  background-color: orange;
}

.project-initials.blue {
  background-color: blue;
}

.project-initials.green {
  background-color: green;
}

.project-initials.red {
  background-color: red;
}